{% extends 'base.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include 'navbar.html'%} 
      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        </br>
        </br>
        <div class="android-be-customized-section mdl-typography--text-center" style="display:flex;justify-content:center;align-items:center;top:30%;">
          <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="align-items:center; width:40%;">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">주차장 예약하기</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <form method="post" action="{% url 'tayo:reserve_add' %}" class="post-form">
                  {% csrf_token %}
                  {% include 'form_errors.html'%}</br>
                  주차시간을 선택해주세요</br></br>
                  <select id="time" name="time" value="">
                    <option value="1" selected>1시간</option>
                    <option value="2">2시간</option>
                    <option value="3">3시간</option>
                    <option value="4">4시간</option>
                    <option value="5">5시간</option>
                  </select></br></br></br>
                  주차장을 선택해주세요</br></br>
                  <div id="map" style="width:100%;height:350px;"></div></br>
                  <p id="result" name="result"></p></br>
                  <input type="hidden" id="parking_number" name="parking_number" value=""></input>
                  차량번호를 입력해주세요
                  <input type="text" class="mdl-textfield__input" id="res_car_number" name="res_car_number" value=""></input>
                  </br></br>
                  <button type="submit" style="position:static" onclick="location.href='{% url 'tayo:reserve' %}'" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    예약하기
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        </br></br>
        {% include 'footer.html'%} 
      </div>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
{% endblock %}
{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce903cdfbeb38247132d86bac3923a8b"></script>
<script>
  // 1. 지도 생성하기
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(37.528195, 126.984208), // 지도의 중심좌표
		        level: 8, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    }; 

	// 지도를 생성한다 
	var map = new kakao.maps.Map(mapContainer, mapOption); 

  // 1. 끝

  // 2. 현재 위치 불러오기
  // 미완성
  // 2. 끝

  // 3. DB에 저장된 주차장 모두 불러오기
  var positions = [
    {% for i in parking_list.all %}
      {
        content : '<span class="info-title">'+'{{i.parking_name}}'+'</span>',
        latlng : new kakao.maps.LatLng({{i.lat}}, {{i.lon}}),
        parking_number : '{{i.parking_number}}',
        parking_name : '{{i.parking_name}}'
      },
    {% endfor %}
  ]

  for (var i = 0; i< positions.length; i++){
    //마커 생성
    var marker = new kakao.maps.Marker({
      position : positions[i].latlng
    });
    marker.setClickable(true);
    marker.setMap(map);

    // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
    var iwContent = '<div style="padding:5px;">'+positions[i].parking_name+'</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
    content : iwContent,
    removable : iwRemoveable
    });

    var count= i;

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', makeAddListener(map, marker, infowindow, count));
  }

  //클릭이벤트
  function makeAddListener(map, marker, infowindow, count){
    return function(){
      infowindow.open(map, marker);

      var message = "선택한 주차장은 " + positions[count].parking_name + '입니다.';
    
      var resultDiv = document.getElementById('result'); 
      resultDiv.innerHTML = message;
      var numberDiv = document.getElementById('parking_number'); 
      numberDiv.value = positions[count].parking_number;

    };
  };
  // 3. 끝



</script>
{% endblock %}