{% extends 'base.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include 'navbar.html'%} 
      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        </br>
        </br>
        <div class="android-be-customized-section mdl-typography--text-center" style="display:flex;justify-content:center;align-items:center;top:30%;">
          <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="align-items:center; width:40%">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">{{user.phone_number}}의 마이페이지</h2></br>
            </div>
            <div class="mdl-card__supporting-text">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%">
                  <tbody>
                    <tr>
                      <td style="text-align:center">이메일</td>
                      <td>{{user.email}}</td>
                    </tr>
                    <tr>
                      <td style="text-align:center">차량번호</td>
                      <td style="text-align:center">{{user.car_number}}</td>
                    </tr>
                    <tr style="text-align:center">
                      <td style="text-align:center">소유주차공간</td>
                      <td style="text-align:center">
                        {% if user.parking_set.all%}
                          있음
                        {% else %}
                          없음
                        {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </br>
              <button onclick="location.href='{% url 'common:add' %}'" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                주차공간 등록하기
              </button>
            </div>
          </div>
        </div></br></br>
        {% if user.parking_set.all%}
        <div class="android-be-customized-section mdl-typography--text-center" style="display:flex;justify-content:center;align-items:center;top:30%;">
          <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="align-items:center; width:40%">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">주차공간 목록</h2></br>
            </div>
            <div class="mdl-card__supporting-text">
              <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
                <thead>
                  <tr>
                    <th style="text-align:center">번호</th>
                    <th style="text-align:center">이름</th>
                    <th style="text-align:center">예약가능상태</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in user.parking_set.all %}
                    <tr data-uri="{% url 'common:mypage_detail' i.parking_number %}" class="table-row" name="{{i.parking_number}}">
                      <td style="text-align:center">{{i.parking_number}}</td>
                      <td style="text-align:center">{{i.parking_name}}</td>
                      <td style="text-align:center">{{i.res_state}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div></br></br>
        {% endif %}
        {% include 'footer.html'%} 
      </div>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>

{% endblock %}

{% block script%}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ce903cdfbeb38247132d86bac3923a8b"></script>
<script>
  // 1. 테이블 선택하면 해당 주차관리로 넘어감
  $(document).ready(function(){
    $(".table-row").on('click', function(){
      location.href = $(this).data('uri');
    });
  });
  // 1. 끝
  </script>
{% endblock %}