<footer class="android-footer mdl-mega-footer">
    <div class="mdl-mega-footer--top-section">
      <div class="mdl-mega-footer--right-section">
        <a class="mdl-typography--font-light" href="#top">
          Back to Top
          <i class="material-icons">expand_less</i>
        </a>
      </div>
    </div>

    <div class="mdl-mega-footer--middle-section">
      <p class="mdl-typography--font-light">[멀티캠퍼스] 프로젝트형 3개 과정 융복합 프로젝트 1조 타요타요</p>
      <p class="mdl-typography--font-light"></p>
    </div>

    <div class="mdl-mega-footer--bottom-section">
      <a class="android-link android-link-menu mdl-typography--font-light" id="BigData-dropdown">
        BigData
        <i class="material-icons">arrow_drop_up</i>
      </a>
      <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="BigData-dropdown">
        <li class="mdl-menu__item">김준호</li>
        <li class="mdl-menu__item">정수연</li>
      </ul>
      <a class="android-link android-link-menu mdl-typography--font-light" id="IoT-dropdown">
        IoT
        <i class="material-icons">arrow_drop_up</i>
      </a>
      <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="IoT-dropdown">
        <li class="mdl-menu__item">배민지</li>
      </ul>
      <a class="android-link android-link-menu mdl-typography--font-light" id="Cloud-dropdown">
        Cloud
        <i class="material-icons">arrow_drop_up</i>
      </a>
      <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="Cloud-dropdown">
        <li class="mdl-menu__item">김도현</li>
        <li class="mdl-menu__item">구경선</li>
        <li class="mdl-menu__item">송경진</li>
        <li class="mdl-menu__item">이재원</li>
      </ul>
      <a class="android-link mdl-typography--font-light" href="">Blog</a>
      <a class="android-link mdl-typography--font-light" href="">GitHub</a>
    </div>

  </footer>